/* Sistema base de diseño: */
:root {
  --primary-color: #1a202c; /* Color primario */
  --secondary-color: #2d3748; /* Color secundario */
  --accent-color: #4a5568; /* Color de acento */
  --text-color: #ffffff; /* Color de texto */
  --background-color: #f7fafc; /* Color de fondo */
  --border-radius: 0.5rem; /* Radio de borde */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra de caja */
}

/*Solo define colores: */
.dark {
  --primary-color: #1a202c; /* Color primario */
  --secondary-color: #2d3748; /* Color secundario */
  --accent-color: #4a5568; /* Color de acento */
  --text-color: #ffffff; /* Color de texto */
  --background-color: #f7fafc; /* Color de fondo */
}